/* Styles globaux */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f8f9fa;
}

nav {
  background-color: #198754;
  padding: 1rem;
}

nav a {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
